.version.index /* version checker */
{
	color: #000000;
	background-color: #2017E9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 416px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 84px;
	margin-left: auto;
	margin-right: auto;
}

#pu75-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 104px;
	margin-left: 68px;
}

#u75-4
{
	z-index: 2;
	width: 342px;
	min-height: 42px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	position: relative;
}

#u76-4
{
	z-index: 6;
	width: 531px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-top: 25px;
	position: relative;
}

#u77-4
{
	z-index: 10;
	width: 328px;
	min-height: 68px;
	background-color: transparent;
	margin-left: 62px;
	margin-top: 68px;
	position: relative;
}

#u81
{
	z-index: 14;
	width: 222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 609px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

